<!DOCTYPE html>
<html>
  <footer>
    <%= t('footer.law') %> &copy;
    <span class='change-lang'>
      <%= t('footer.change_language') %>:
      <% if I18n.locale == I18n.default_locale %>
        <span class='change-date ru'>
          <%= link_to "Русский", { :locale=>'ru' } %>
        </span>
      <% else %>
        <span class='change-date en'>
          <%= link_to "English", { :locale=>'en' } %>
        </span>
      <% end %>
    </span>
  </footer>
</html>