<!DOCTYPE html>
<html>
  <body>

    <table>
      <tbody>
        <tr>

        <td>
          Магазин
        </td>
        
        <td>
          Корзина
        </td>

        </tr>
      </tbody>
    </table>

  </body>
</html>