<!DOCTYPE html>
<html>
  <body>

    <table>
      <tbody>
        <tr>

        <td>
          <%= link_to 'Магазин', market_index_path %>
        </td>
        
        <td>
          <%= link_to 'Корзина', market_index_path %>
        </td>

        </tr>
      </tbody>
    </table>

  </body>
</html>