<!DOCTYPE html>
<html>
  <body>

    <table>
      <tbody>
        <tr>

        <td>
          <%= link_to 'Магазин', market_index_path %>
        </td>
        
        <td>
          <%= link_to 'Корзина', shopcart_index_path %>
        </td>

        <td>
          <%= link_to 'Войти', session_login_index_path %>
        </td>

        <td>
          <%= link_to 'Зарегистрироваться', new_session_register_path %>
        </td>

        </tr>
      </tbody>
    </table>

  </body>
</html>