// Place all the styles related to the shopcart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.shopcart {
  width: 500px;
  padding: 20px;

  .cart-heading {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    font: bold 35px Arial, sans-serif;
  }

  .items { 
    width: 400px;
    padding: 10px;
    margin: 10px;
    background-color: honeydew;
    box-shadow: inset 0 0 20px 10px rgba(0,0,0,0.3);
    border-radius: 10px;

    .cart {
      padding-bottom: 10px;
      margin-left: 10px;
    }

    .item-name {
      max-width: 25ch;
      word-wrap: break-word;
      margin-bottom: 10px;

      a {
        text-decoration: none;
        font: bold 28px Arial, sans-serif;
        color: rgba(#000000, 0.8);
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }

      a:hover {
        color: #ffa000; /* Меняем цвет текста */
        -webkit-text-shadow: 2px 2px 2px #000;
        -moz-text-shadow: 2px 2px 2px #000;
        text-shadow: 2px 2px 2px #000;
      }
    }

    .item-avatar {
      
      img {
        width: 40%;
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.863);
      }
    }

    .item-quantity {
      font: bold 16px Arial, sans-serif;

      i {
        font: italic bold 14px Arial, sans-serif;
        text-decoration: underline;
      }
    }

    .item-rating {
      font: bold 16px Arial, sans-serif;

      i {
        font: italic bold 14px Arial, sans-serif;
        text-decoration: underline;
      }
    }

    .delete-item {
      margin-top: 10px;
      margin-left: 15px;

      input {  
        width: 45px;
        height: 45px;
        padding-top: 10px;
        background-image:url('market/trash.png');
        border: 0px;
        border-radius: 20px;
        background-size: 100%;
        box-shadow: 0 0 10px 3px rgba(0,0,0,0.3);
        transition: box-shadow 0.5s ease-in-out;
      }

      input:hover {
        box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);
      }

      input::after {
        box-shadow: 0 0 5px 15px rgba(0,0,0,0.3);
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }

      input:hover::after {
        opacity: 1;
      }
    }
  }
}